@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
    font-family: 'Open Sans', sans-serif; 
    background-image: url('/views/dist/img/photo1.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
}

.round.hollow {
    margin: 40px 0 0; 
}
.round.hollow a {
    border: 2px solid #ff6701; 
    border-radius: 35px; 
    color: #19a05670; 
    color: #ff6701; 
    font-size: 23px; 
    padding: 10px 21px; 
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif; 
}
.round.hollow a:hover {
    border: 2px solid #000; 
    border-radius: 35px; 
    color: #19a05670; 
    color: #000; 
    font-size: 23px; 
    padding: 10px 21px; 
    text-decoration: none; 
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color: #fff;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
    font-family: Oswald;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: dodgerblue;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.popup-box .popup-head .popup-head-right {
    margin: 11px 7px 0;
}
.popup-box .popup-messages {
}
.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
}


.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
    border: medium none;
    width: 95% !important;
}


.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    position: fixed;
}


.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}


.simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #4b4b4b !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}



.popup-box .popup-messages {
    background: #ffffff none repeat scroll 0 0;
  
    /* height: 275px; */
    height: 100%;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);

}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages abbr.timestamp {
    background: #ffffff none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
    margin: 0 8px 0 0;
    vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
    padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
    color: #303030;
}

.popup-messages abbr.timestamp {
    background: #ffffff none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 49px !important;
    color: #fff;
    opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
    background: #19a05670  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;
    background:#19a05670;
}

.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.Absolute-Center.is-Responsive {
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}
.center{
    max-width: 35%;
    max-height: 50%;
    border: 1px solid ;
    border-color: rgb(225, 65, 65);
    margin: auto;
    margin-top: 10%;
}

.inner_container{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.text{
    color: white;
}


.messenger-container {
    background-color: #f5f6fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.messenger-header {
    background-color: #19a05670;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
}

.messenger-title {
    font-size: 1.5em;
    margin: 0;

}

.messenger-tools {
    display: flex;
    align-items: center;
}

.messenger-label {
    background-color: #ff5c5c;
    font-size: 1em;
    padding: 2px 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.messenger-body {
    padding: 20px;
}

.messenger-users-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.messenger-user {
    text-align: center;
    width: 70px;
}

.messenger-user-button {
    background-color: transparent; 
    border: 2px solid #fff; 
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    color: #fff; 
    font-size: 1em;
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.messenger-user-button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    border-color: #8a8a8a; 
    color: #ffffff; 
    transform: scale(1.05); 
}

.messenger-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-bottom: 5px;
}

.messenger-user-name {
    font-size: 0.9em;
    color: #333;
}

.messenger-footer {
    padding: 10px;
    border-top: 1px solid #e9ecef;
    background-color: #f8f9fa;
    border-radius: 0 0 10px 10px;
}

.messenger-footer-link {
    color: #19a05670;
    text-decoration: none;
    font-weight: bold;
}

.messenger-footer-link:hover {
    text-decoration: underline;
}


.account-navbar {
    background-color: #19a05670;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.account-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account-dropdown {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.account-dropdown:hover {
    color: #d1ecf1;
}

.account-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.account-dropdown:hover .account-user-image {
    transform: scale(1.1);
}

.account-text {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.dice-container {
    background-color: #f5f6fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}